work/
fastq_pass/
.nextflow*
trimmed_output/
genome_assembly/
report*
dag*
chrm_amr/
plasmid_amr/
DB/
.snakemake
conf/.snakemeke
containers/
VF_db/
k2_standard_08gb_20240904/
bin/__pycache__/*
models/
