[submodule "bin/tn3-ta_finder"]
	path = bin/tn3-ta_finder
	url = https://github.com/danillo-alvarenga/tn3-ta_finder
[submodule "bin/tncomp_finder"]
	path = bin/tncomp_finder
	url = https://github.com/danillo-alvarenga/tncomp_finder
[submodule "bin/PLASMe"]
	path = bin/PLASMe
	url = https://github.com/HubertTang/PLASMe
[submodule "bin/DBSCAN-SWA"]
	path = bin/DBSCAN-SWA
	url = https://github.com/HIT-ImmunologyLab/DBSCAN-SWA
