params {
    fastq_pass_dir = 'fastq_pass/'
    c_size = 1000000 //The chomosome size
    read_min_length = 50
    trim_end_size = 10
    amr_db = "card"
    max_cpus = 12
    remove_barcode = true
}

profiles {
    perso {
        process {
            withLabel: 'many_cpus' {
                cpus = params.max_cpus
                params.fastq_pass_dir = 'test/'
            }
        }
    }
}