/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    waterisk Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Your personnal config file based on your environment and your input
----------------------------------------------------------------------------------------
*/

params {
    //Mandatory options
    output_dir = "waterisk_output/" //output directory
    index_file = "index_file.csv" //path/to/index_file
    assembly = "long_reads"

    //Quality control
    trim_end_size = 0
    quality_trim = 10
    lineage_db = "bacteria_odb10"
    remove_barcode = false

    //Hybracter parameters
    read_min_length = 1000
    read_min_length = 1000
    medaka = true
    flyeModel = "--nano-hq"

    //Others and database
    amr_db = "megares"
    plasme_env = "${projectDir}/conf/plasme.yaml"
    plasme_download_db = true
    plasme_db = "${projectDir}/DB"
    kraken_taxonomy = true
    kraken_db = "${projectDir}/k2_standard_08gb_20240904"
    vf_db = "${projectDir}/VF_db/VFDB_setB_nt.fas"
}

profiles {

    local {
        process {
            executor = 'local'
            withLabel: 'process_medium' { 
                cpus = params.default_cpus
                memory = params.max_memory
            }
            withLabel: 'process_high' { // some process need a lot of ram and cpus, better to limit maximum number of process instances that can be executed in parallel
                cpus = params.max_cpus
                memory = params.max_memory
            }
        }
    }
}
