/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    waterisk Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Your personnal config file based on your environment and your input
----------------------------------------------------------------------------------------
*/

params {
    //Mondatory options
    long_reads_dir = "/home/andriamanga@newcefe.newage.fr/waterisk/fastq_pass/" //long reads absolute directory
    output_dir = "waterisk_output/" //output directory
    index_file = "/home/andriamanga@newcefe.newage.fr/waterisk/index_file.csv"
    
    //Quality assessment for long reads
    read_min_length = 500 //Minimum reads length to keep
    trim_end_size = 0
    quality_trim = 10

    //Assembly options
    amr_db = "card"
    medaka = true
    plasme_env = "${projectDir}/conf/plasme.yaml"
    plasme_db = "${projectDir}/DB"
    lineage_db = "bacteria_odb10"
    
    //max ressource options
    //default: expected to run on local computer with 20 cpus and 32 GB of ram. Expecting to be overwritten
    max_cpus = 8
    max_memory = 10.GB

    //Further options
    raw = false
}
