/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    waterisk Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Your personnal config file based on your environment and your input
----------------------------------------------------------------------------------------
*/

params {
    //Mandatory options
    output_dir = "waterisk_output/" //output directory
    index_file = "index_file.csv"
    
    //Quality assessment for long reads
    read_min_length = 1000 //Minimum reads length to keep
    trim_end_size = 0
    quality_trim = 0
    lineage_db = "bacteria_odb10"

    //Hybracter parameters
    read_min_length = 1000
    medaka = true

    //Database
    amr_db = "megares"
    
    //Taxonomy
    kraken_taxonomy = true
    mlst = true
    
    //Further options
    raw = false
}

profiles {
    perso {
        process {
            executor = 'local'
            scratch = true
            cache = false
            cpus = params.max_cpus //default cpus
            memory = params.max_memory //default memory
            withLabel: 'process_high' { // some process need a lot of ram and cpus, better to limit maximum number of process instances that can be executed in parallel
                cpus = 16
                memory = '80G'
            }
        }
    }
}
