/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    waterisk Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Your personnal config file based on your environment and your input
----------------------------------------------------------------------------------------
*/

    //Mandatory options
    params.index_file = null //path/to/index_file
    params.output_dir = "resmobilys_output/" //output directory

    //Quality control
    params.trim_end_size = 0
    params.quality_trim = 10

    //Hybracter parameters
    params.read_min_length = 1000
    params.medaka = true
    params.flyeModel = "--nano-hq"

    //Tools parameters
    params.plasmid = "plasme"
    params.kraken_taxonomy = true
    params.kraken_index = "https://genome-idx.s3.amazonaws.com/kraken/k2_standard_08gb_20240904.tar.gz"
    params.rgi_include_nudge = true

    //Blast parameter for VF and ICE
    params.evalue_vf = 1e-03
    params.evalue_ice = 1e-03
    params.pident_vf = 80
    params.pident_ice = 80

    //default: expected to run on local computer with 20 cpus and 32 GB of ram.
    params.default_cpus = 2
    params.default_memory = 12.GB

    //max: expected to run on hpc. Expecting to be overwritten depending the profile
    params.max_cpus = 4
    params.max_memory = 12.GB


profiles {

    local {
        process {
            scratch = false
            executor = 'local'
            withLabel: 'process_medium' { 
                cpus = params.default_cpus
                memory = params.default_memory
            }
            withLabel: 'process_high' { //If you are running localy, change max_cpus and max_memory
                cpus = params.max_cpus
                memory = params.max_memory
            }
        }
    }
}
