/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    waterisk Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Your personnal config file based on your environment and your input
----------------------------------------------------------------------------------------
*/

params {
    //Mandatory options
    output_dir = "resmobilys_output/" //output directory
    index_file = "index_file.csv" //path/to/index_file
    assembly = "long_reads"

    //Quality control
    trim_end_size = 0
    quality_trim = 10
    lineage_db = "bacteria_odb10"
    remove_barcode = false

    //Hybracter parameters
    read_min_length = 1000
    read_min_length = 1000
    medaka = true
    flyeModel = "--nano-hq"

    //Others and database
    plasmid = "platon"
    amr_db = "megares"
    plasme_env = "${projectDir}/conf/plasme.yaml"
    plasme_download_db = true
    plasme_db = "${projectDir}/DB"
    platon_db = "${projectDir}/db"
    kraken_taxonomy = true
    kraken_db = "${projectDir}/k2_standard_08gb_20240904"
    vf_db = "${projectDir}/VF_db/VFDB_setB_nt.fas"

    //Default ressources
    default_cpus = 2
    default_memory = 12.GB

    //max: expected to run on hpc. Expecting to be overwritten depending the profile
    max_cpus = 12
    max_memory = 72.GB
}

profiles {

    local {
        process {
            executor = 'local'
            withLabel: 'process_medium' { 
                cpus = params.default_cpus
                memory = params.max_memory
            }
            withLabel: 'process_high' { //If you are running localy, change max_cpus and max_memory
                cpus = params.max_cpus
                memory = params.max_memory
            }
        }
    }
}
