/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    waterisk Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Your personnal config file based on your environment and your input
----------------------------------------------------------------------------------------
*/

params {
    //Mandatory options
    output_dir = "resmobilys_output/" //output directory
    index_file = "index_file.csv" //path/to/index_file
    assembly = "long_reads"

    //Quality control
    trim_end_size = 0
    quality_trim = 10
    lineage_db = "bacteria_odb10"

    //Hybracter parameters
    read_min_length = 1000
    medaka = true
    flyeModel = "--nano-hq"

    //Others and database
    plasmid = "plasme"
    amr_db = "megares"
    plasme_db = "${projectDir}/DB"
    platon_db = "${projectDir}/platon_db"
    kraken_taxonomy = true
    kraken_db = "${projectDir}/kraken_DB"
    vf_db = "${projectDir}/VF_db/VFDB_setB_nt.fas"
    ice_db = "${projectDir}/ICE_db/ICE_seq_all.fas"

    //Blast parameter for VF and ICE
    evalue_vf = 1e-03
    evalue_ice = 1e-03
    pident_vf = 80
    pident_ice = 80

    //rgi parameters
    rgi_include_nudge = true

    //Default ressources
    default_cpus = 2
    default_memory = 12.GB

    //max: expected to run on hpc. Expecting to be overwritten depending the profile
    max_cpus = 4
    max_memory = 12.GB
}

profiles {

    local {
        process {
            scratch = false
            executor = 'local'
            withLabel: 'process_medium' { 
                cpus = params.default_cpus
                memory = params.default_memory
            }
            withLabel: 'process_high' { //If you are running localy, change max_cpus and max_memory
                cpus = params.max_cpus
                memory = params.max_memory
            }
        }
    }
}
