/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    container = "library://vahiniaina/waterisk/waterisk:0.0.1"
    cpus = params.default_cpus
    memory = params.default_cpus

    withName: ASSEMBLE_GENOME {
        container = "docker://quay.io/gbouras13/hybracter:0.11.0" //"${launchDir}/container/hybracter_0.10.0.sif"
    }
    withName: "BUSCO" {
        container  = "library://vahiniaina/waterisk/busco:0.0.1" //"${launchDir}/container/busco.sif"
    }
    withName: "DBSCAN_CHROMOSOME" {
        publishDir = "${params.output_dir}dbscan/"
    }

    withLabel: 'plasme' {
        container = "library://vahiniaina/waterisk/plasme:0.0.1" //"${launchDir}/container/plasme.sif" 
    }
    withLabel: 'mob' {
        container =  "library://vahiniaina/waterisk/mob_suite:0.0.1" //"${launchDir}/container/mob_suite.sif"
    }
    withLabel: 'reasonate_tools' {
        container = "library://vahiniaina/waterisk/tools:0.0.1 " //${projectDir}/containers/tools.sif"
    }
    withLabel: 'reasonate_pipeline' {
        container = "library://vahiniaina/waterisk/reasonate:0.0.1" //${projectDir}/containers/reasonaTE.sif"
    }
    //integron_finder from pasteur container is not suitable with nextflow
    withLabel: 'integron_finder' {
        container = "library://vahiniaina/waterisk/integron_finder:0.0.1"
    }
    withLabel: 'amrfinder' {
        container = "docker://ncbi/amr:latest"
    }
    withLabel: 'rgi' {
        container = "docker://quay.io/biocontainers/rgi:6.0.3--pyha8f3691_0"
    }
    withLabel: 'tnfinder' {
        container = "library://vahiniaina/waterisk/tnfinder:0.0.1"
    }   
}