/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run waterisk -profile test,apptainer

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    //default: expected to run on local computer with 20 cpus and 32 GB of ram. Expecting to be overwritten
    default_cpus = 2
    default_memory = '4GB'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 10
    max_memory = 12.GB
    
    //input data
     //Mandatory options
    output_dir = "resmobilys_output/" //output directory
    index_file = "${projectDir}/test/index.csv" //path/to/index_file test

    //Hybracter parameters
    flyeModel = "--nano-hq"

}