/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run waterisk -profile test,apptainer

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    //default: expected to run on local computer with 20 cpus and 32 GB of ram. Expecting to be overwritten
    default_cpus = 2
    default_memory = 4.GB

    //CPUs to use for process high, expected to on local computer with 20 cpus and 32 GB of ram. If you have more resources (in HPC for example), you can set max_cpus=16 and max_memory=32.GB
    process_high_cpus = 8
    process_high_memory = 14.GB
    
    //input data
     //Mandatory options
    output_dir = "resmobilys_output/" //output directory
    index_file = "${projectDir}/test/index.csv" //path/to/index_file test

    //Hybracter parameters
    flyeModel = "--nano-hq"

    //tools parameters
    params.ice_avg_size = 80000
}